// 全局配置颜色表
$baseBlue: #3d7eff; // 广汽商贸集团的蓝色
$basePlaceholder: #c0c4cc; // input placeholder颜色

$themeColor: #21262b; // 主题色 el-menu 
$textColor: #2c314e; // 字体色  el-menu 

$levelB: #ab7df6;
$levelH: #ff5a16;
$levelC: #1494eb;
$levelA: #d65aa8;
$follow: #9d9fed;
$green: #28c192;
$orange: #fdae31;

.blue {
  color: $baseBlue
}
